*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(147, 11, 11),rgb(92, 32, 23), rgb(147, 11, 11));
}

header{
    display: flex;
    height: 100px;
}

header nav{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 15px 70px;
}

header nav:hover{
    cursor: pointer;

}

.menu-hamburger{
    height: 50px;
    width: 50px;
    color: white;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    word-wrap: break-word;
}

.background-image{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top:0; left:0; right:0; bottom:0;
    margin:auto;
    opacity:0.5;
    z-index:-10;
    
}

.menu-text{
    color: white;
    padding: 20px;
}

h2{
    position: absolute;
    color: #FFF;
    font-size: 2.75rem;
    width: 212px;
    transform: translateX(-100%);
    text-align: end;
    margin-right: 24px;
}

.garrafa-coca-cola{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(2px 2px 8px #0006);
    width: 130px;
}

footer{
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 15px;
}

.mapa-image{
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}


@media (max-width: 900px) and (orientation: portrait){
    header{
        padding-bottom: 10px;
    }

    header nav{
        margin-left: 25px;
    }

    h2{
        position: absolute;
        transform: translateX(0);
        top: 80px;
        font-size: 2rem;
        width: 150px;
        text-align: center;
        margin:0px; 
       
    }

    .garrafa-coca-cola{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height:40vh;
        width:auto;
    }

     footer{
        height: 10vh;
        width: auto;
        margin-right: 25px;
    }

}

@media (max-width: 900px) and (orientation:landscape){
    header nav{
        margin-left: 25px;
    }

    h2{
        position: absolute;
        transform: translateX(0);
        top: 20px;
        font-size: clamp(1rem, 3vw, 2rem);
        width: 150px;
        text-align: center;
        margin:0px; 
       
    }

    .garrafa-coca-cola{
        height:30vw;
        width:auto;
        margin-top: 10vh;
        
    }

     footer{
        height: 5vh;
        width: auto;
        margin-right: 25px;
    }

}